@using WebClient.Client.Features.Auth.Ui

<div>
    <MudStack Justify="Justify.Center" AlignItems="AlignItems.Center" Spacing="5" Class="main_block">

        <MudPaper Elevation="6" Class="small-panel">

            <MudText Typo="Typo.h4" Align="Align.Center" Class="welcome-title">
                Welcome!
            </MudText>
            <MudText Typo="Typo.subtitle1" Align="Align.Center" Class="welcome-subtitle">
                We are glad to see you on the main page
            </MudText>

        </MudPaper>

        <div class="auth">
            <AuthPanel />
        </div>

    </MudStack>
</div>