@page "/"

<div class="welcome-page">

    <div class="panel">

        <div class="greeting">Добро пожаловать!</div>
        <div class="subtext">Рад видеть тебя в нашем приложении.</div>

    </div>

    <div class="panel">
        <div class="button-group">

            <RadzenButton Text="Авторизация" Style="background-color:#2563eb;color:white" />
            <RadzenButton Text="Регистрация" Style="background-color:#10b981;color:white" />

        </div>
    </div>

</div>