@using WebClient.Client.Widgets.Welcome.Ui
@layout WebClient.Client.App.Layouts.MainLayout
@page "/"

<PageTitle>Главная</PageTitle>

<div>
    <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Class="page-container">

        <Welcome />

    </MudContainer>
</div>