
<div>
    <MudPaper Elevation="12" Class="main-panel">
        <MudStack Spacing="2">

            <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="main-button">
                Sign in
            </MudButton>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="mt-3 main-button">
                Sign up
            </MudButton>

        </MudStack>
    </MudPaper>
</div>